.body {
  background-color: #F2F2F2;
  min-height: 100vh;
  overflow: hidden;
}

.perfil {
  width: 100px;
  margin: 25%;
  max-width: 100%;
}


/* Container nav menu */ 

div .navProfile {
  display: block;
  width: 15%;
  background-color: black;
  color: #FFC100;
  margin-left: -3%;
  margin-top: -5%;
  margin-bottom: -30%;
  padding-top: 80px;
  padding-bottom: 60px;
  padding-left: 35px;
  border-radius: 10px;
  z-index: 20;
}

.foto-perfil {
  width: 100px !important;
  height: 100px;
  border-radius: 50px;
  z-index: 10;
}

.border-profile {
  width: 100px !important;
  height: 100px;
  border: 3px solid;
  border-radius: 50px;
 
}

/* /\/\/\/\/\/\/\/\/\/\/\\//\/\\//\/\/\//\ */ 


.carrousel {
  background-color: white;
}




.profilePhoto {
  width: 90px !important;
  height: 90px;
  border: 3px solid #FFC100;
  border-radius: 50px;
  z-index: 10;
}

.name-prof {
  font-size: 21px;
}




.carousel-img {
  width: 200px;
  max-width: 100%;
  border-radius: 10px;
}

.ScheduleList {
  background-color: #ffffff;

}

.principal {
  background-color: rgb(255, 255, 255);
}

.carrousel-professional {
  padding: 10px;
  margin: 0px 10px;
}

.especialidade {
  margin: 0;
  padding: 0;
}

.schedule-area {
  margin-top: 15px !important;
}

.lista-agendamento-callendar {
  background-color: #EAEAEA;
  margin: 25px;
  padding: 20px;
  border-radius: 20px;
}

.Schedule-title {
  padding: 10px;
}


.logout {
  padding: 200px 30px 0 0;
  color: #FFC100;
  text-decoration: none;
}

.logout:hover {
  padding: 200px 30px 0 0;
  color: #ffffff;
  text-decoration: none;
}


.agendar {
  display: block;
  background-color: #FFC100;
  color: #000000;
  font-size: 16px;
  justify-content: center;
  width: 185px;
  height: 36px;
  padding-bottom: 22px;
  padding: 7px;
  border-radius: 10px;
  text-decoration: none;
}

.agendar:hover {
  display: block;
  background-color: #000000;
  color: #FFC100;
  font-size: 16px;
  justify-content: center;
  width: 185px;
  height: 36px;  
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}


